/* @import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700); */
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Titillium+Web:wght@200;600&display=swap";
@import "https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&display=swap";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";


html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Almarai', sans-serif;
    background-color: var(--page-bg);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.75;
}
h1 {
    font-size: 48px;
    line-height: 1.3;
    
}
h2 {
    font-size: 29px;
    font-weight: 600;
    color: #222;
}
.heading-200 {
    font-weight: 300;
}
h3 {
    font-size: 27px;
    font-weight: 600;
}
h4 {
    font-size: 21px;
    color: #222;
}
h5 {
    font-size: 16px;
    font-weight: 300;
}
small {
    font-size: 85%;
    margin-left: 20px;
    opacity: 0.85;
}
.description_text {
    font-weight: 300;
    opacity: 0.65;
    font-size: 20px;
    margin-bottom: 22px;
    line-height: 1.7;
}