.footer {
	padding: 50px 0;
	background-color: var(--page-bg);
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_copyright {}

.footer__social-icons {
	display: flex;
}

.social__icon {


	+li {
		margin-left: 10px;
	}

	a {
		border-radius: 999px;
		background-color: #eee;
	}
}

.social__icon-link {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 16px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: transparent;
	border-radius: 3px;
	transition: all 0.3s ease;

	&:hover {
		background-color: #05d561;
		border-color: #05d561;

		i {
			&:first-child {
				margin-top: -26px;
				opacity: 0;
				color: #fff;
			}
			&:last-child {
				opacity: 1;
				color: #fff;
			}
		}
	}


	i {
		width: 26px;
		height: 26px;
		position: relative;
		top: 50%;
		margin: 0 auto;
		transform: translateY(-50%);
		transition: all 0.25s ease;

		&:first-child {
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:last-child {
			opacity: 0;
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}
}