.services {
    padding: 120px 0;
}
.services_heading {
    max-width: 66%;
    margin: 0 auto;
    @include mediaTablet() {
        max-width: 100%;
    }
   
}
.services__title {
    text-align: center;
}
.divider-line {
    margin: 90px auto 80px;
    border-top: 1px solid;
    border-top-color: #eee;
    display: inline-block;
    width: 100%;

}
.services__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    @include mediaTablet() {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mediaMobile() {
        grid-template-columns: repeat(1, 1fr);
    }
}